* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
background-color: #fff;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 29px 0px 680px;
    overflow: hidden;
    // border: 1px solid #e7e7e7;
    // background-color: #f3f3f3;
    background-color: #ffffff;
    vertical-align: middle;
    height: 100px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
  }

  .nav-bar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: #fff;
}

  li {
    float: left;
  }

  li a {
    display: block;
    color: #4e4e4e;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600px;
    font-size: 19px;
  }
  
  li a:hover:not(.active) {
    background-color: #0a3c5d;
    color: rgb(255, 255, 255);
    height: 50px;
    border-radius: 20px;
  }

  .active {
    background-color: #0a3c5d;
    color: white;
    height: 50px;
  }

  .logo {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .background-container {
    position: relative;
    max-width: 1000px;
    top:0px;
    left:500px;
    margin: 0px auto;
    z-index:0;
    filter:opacity(70%) blur(1px);   
}

hr.new1 {
    border-top: 1px;
}

.container {
    position: absolute;
    top: 20%;
    left: 38%;
    background-color: #fafafe;
    border-radius: 15px;
    padding: 0px 0px 0px 50px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
    width: 450px;
    height: 250px;
    box-sizing:border-box;
  }

  .container-label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#0a3c5d
  }



  

